@{
    ViewData["Title"] = "Student Courses";
}

@model List<StudentCourse>

<div class="row mb-3">
    <div class="col-12">
        <h1 style="font-size: 2.5em; font-weight: bold;">Student Courses</h1>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 10%;" scope="col">Name</th>
            <th style="width: 5%;" scope="col">Hours</th>
            <th style="width: 5%;" scope="col">Degree</th>
            <th style="width: 10%;" scope="col">Document</th>
            <th style="width: 10%;" scope="col">Course Level</th>
            <th style="width: 20%;" scope="col">Member Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>@item.Course.Name</td>
                <td>@item.Course.Hours</td>
                <td>@item.Course.Degree</td>
                <td><a href="~/CourseDocument/@item.Course.DocumentUrl" target="_blank">Document</a></td>
                <td>@item.Course.CourseLevel</td>
                <td>@item.Course.Member.FName @item.Course.Member.MName @item.Course.Member.LName</td>
            </tr>
            <tr>
                <td colspan="6">
                    <div class="d-flex flex-wrap gap-2 justify-content-center" style="margin-top: 10px;">
                        <a href="/Admin/StudentCourse/Degrees?studentId=@item.StudentId&courseId=@item.CourseId" class="btn btn-primary">
                            <i class="bi bi-bar-chart"></i> Degrees
                        </a>
                        <a href="/Customer/StudentAssignment/CourseAssignments?courseId=@item.CourseId&studentId=@item.StudentId" class="btn btn-primary">
                            <i class="bi bi-pencil"></i> Assignments
                        </a>
                        <a href="/Customer/Lectures/StudentLectures?CourseId=@item.CourseId" class="btn btn-primary">
                            <i class="bi bi-collection"></i> Lectures
                        </a>
                        <a href="/Customer/Sections/StudentSections?CourseId=@item.CourseId" class="btn btn-primary">
                            <i class="bi bi-list"></i> Sections
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mt-4">
    <a href="/Customer/StudentDetailes/Index?StudentID=@ViewBag.studentId" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
</div>
