@model Models.Sections

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Sections</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.DocumentUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SectionsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
